/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






:root {
    --scarlet: #AE4737;
    --ash: #1B1B1B;
    --sand: #C9C1B5;
    --font-main: Impact, sans-serif;
}




html, body {
    overflow-x: hidden;
}

body {
    font-family: var(--font-main);
    background-color: var(--sand);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll-up-btn {
    all: unset;
    position: fixed;
    bottom: 25px;
    right: 60px;
    height: 60px;
    width: 60px;
    background-color: var(--ash);
    opacity: 90%;
    border-radius: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.scroll-up-btn .arrow-up {
    width: 20px;
    height: 20px;
    border-left: 4px solid var(--scarlet);
    border-bottom: 4px solid var(--scarlet);
    border-radius: 10%;
    transform: rotate(135deg);
    margin-bottom: -14px;
    pointer-events: none;
}

header {
    background-color: var(--ash);
    border-radius: 90px;
    width: 350px;
    height: 50px;
    margin-top: 20px;

}

nav {
    background-color: var(--background-color);
    padding: 0.5rem 2rem;
}

.nav-container {
    margin-top: -6px;
    display: flex;                /* Put children in a row */
    justify-content: space-between; /* Push left and right items apart */
    align-items: center;         /* Center vertically */
}








.menu-icon {
    width: 25px;
    height: 15px;
    position: relative;;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.menu-icon span {
    background-color: var(--scarlet);
    height: 5px;
    width: 100%;
    position: absolute;
    display: block;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transition: 0.3s ease;
}

.menu-icon span:nth-child(1) {
    top: 20%;
}

.menu-icon span:nth-child(2) {
    top: 85%;
}

.menu-icon.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.menu-icon.active span:nth-child(2) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.off-screen-menu li {
    color: var(--scarlet);
    padding: 20px;
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
}

.off-screen-menu li a{
    text-decoration: none;
}

.off-screen-menu li a:visited{
    color: var(--scarlet);
}

.off-screen-menu li a:hover{
    color: var(--sand);
    transition: 0.2s ease-in-out;
}

.off-screen-menu li a:link{
    color: var(--scarlet);
}







.logo img {
        width: 60px;
}






/* off-screen-menu */

.off-screen-menu {
    background-color: var(--ash);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}

.off-screen-menu.active {
    right: 0;
}








.highlight {
    color: var(--scarlet);
}

a:visited {
    color: var(--ash);
}

a:hover {
    color: var(--scarlet);
    transition: 0.2s ease-in-out;
}

a:link {
    color: var(--ash);
}






.hero {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

h1 {
    font-size: 25px;
    padding: 30px;
}






h2 {
    font-size: 25px;
}

.samples {
    text-align: center;
    padding: 50px;
}

.samples .samples-images{
    display: flex;                /* Put children in a row */
    justify-content: space-between; /* Push left and right items apart */
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.samples-images img {
    width: 70px;
    padding: 20px;
    border-radius: 100%;
}

.samples-images p {
    font-size: 11px;
    font-family: monospace;
    font-weight: bold;
}

.samples-images a {
    text-decoration: none;

}



.work {
    text-align: center;
}

.work .work-images {
    margin-top: 20px;
    margin-bottom: 20px;
}

.work-images img{
    width: 350px;
    padding: 20px;
    border-radius: 25px;
}




h3 {
    font-size: 20px;
}

.about {
    text-align: center;
    margin-bottom: 50px;
}

.about img {
    width: 200px;
    border-radius: 100%;
    margin: 25px;
}

.about p {
    width: 350px;
    font-family: monospace;
    font-size: 15px;
}








.icons {
    text-align: center;
    padding: 10px;
}

.icons svg {
    padding: 20px;
}

footer p {
    font-size: 11px;
    padding: 15px;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
}






.proj {
    text-align: center;
}

.proj .proj-images {
    margin-top: 20px;
    margin-bottom: 20px;
}

.proj-images img{
    width: 350px;
    padding: 20px;
    border-radius: 25px;
}