*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Roboto Mono", serif;

}

:root {
    --white: #ffffff;
    --blue: #325986;
    --dark-grey: #262626;
}

header {
    background-color:var(--blue);

}

.head-logo img{
    width: 150px;
    margin-left: 250px;
}

li {
    list-style: none;
    font-size: 15px;
}

a {
    color: var(--white);
    text-decoration: none;
}

.navbar {
    min-height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-right: 340px;
}

.nav-link {
    transition: 0.3s ease;
}

.nav-contact {
    border: 2px solid var(--white);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.nav-contact:hover {
    background-color: var(--white);
    color: var(--dark-grey);
}

.contact {
    background-color: var(--white);
}

.contact:hover {
    color: var(--blue);
    font-weight: 500;
}


.nav-link:hover {
    color: var(--dark-grey);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--white);
    border-radius: 100px;
}


#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: var(--dark-grey);
    margin-bottom: 200px;
}
#home img{
    width: 18vw;
    margin-top: 3em;
}

.info-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5em;
    max-width: 800px;
}
.info-box h1{
    font-size: 5em;
    font-weight: 500;
}
.info-box h3{
    font-size: 2em;
    font-weight: 400;
}
.info-box p{
    opacity: 0.7;
}

span{
    background: var(--dark-grey);
    background-clip: text;
    color: transparent;
}

#about{
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
}
#about img{
    width: 100px;
}
.about-box{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2em;
}
.about-box h1{
    font-size: 5em;
}
.about-box p{
    color: var(--white);
    opacity: 0.8;
}
.skills{
    display: flex;
    text-align: left;
    gap: 10em;
}
.skills ul{
    font-size: 1.3em;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    color: white;
    opacity: 0.8;
    align-items: baseline;
}
.skills ul li span{
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: .7em;
    transition: 0.3s ease-in-out;
}
.skills ul li span:hover{
    transform: translateX(10px);
}
.skills ul li i{
    font-size: 1.2em;
}
.about-box h2{
    font-size: 2.5em;
}


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10em;
    bottom: 0;
    background-color: var(--background);
    width: 100%;
    padding: 5em 15%;
}
.col-left{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.col-box{
    display: flex;
    align-items: center;
    gap: 1em;
}
.col-box{
    font-size: 2em;
}
.col-box sapn{
    font-size: 1.2em;
}
.col-right{
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: rgb(0, 0, 0);
    max-width: 500px;
}
.col-right span{
    font-size: 1.3em;
}
.col-box .social-icons{
    display: flex;
    align-items: baseline;
    justify-content: left;
    gap: 1em;
}
.col-box .social-icons i{
    font-size: 2em;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.social-icons i:hover{
    color: rgb(0, 0, 0);
}

@media(max-width:768px){
    
    .hamburger {
        display: block;
        margin-right: 20px;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    li {
        font-size: 12px;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 130px;
        gap: 0;
        flex-direction: column;
        background-color: var(--blue);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        margin-left: 0;
        padding-bottom: 100%;
    }

    .nav-item {
        margin: 30px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-contact {
        margin-top: 10px;
    }

    .head-logo img {
        width: 120px;
        margin-left: 15px;
    }





    #home h1{
        font-size: 2.5em;
    }
    #home h3{
        font-size: 1.5em;
    }
    #home img{
        width: 32vw;
    }

    #about .skills{
        gap: 3em;
    }
    


    footer{
        flex-direction: column;
        gap: 5em;
        align-items: baseline;
    } 

}