html {
    min-height: 100%;
    max-width: fit-content;
}

#wrapper {
    width: 0 auto;
    margin: 0 auto;
}

body {
    font-family: "articulat-cf", sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: #f05c22;
    overflow-x: hidden;
}

header {
    padding-top: 80px;
}

.logotext {
    margin-left: 100px;
    width: 500px;
}


h1 {
    font-family: changeling-neo, sans-serif;
    font-size: 60px;
    margin-left: 400px;
    margin-top: -130px;
}

.phoenix h2 {
    font-size: 30px;
    margin-left: 400px;
    position: absolute;
    margin-top: 300px;
    line-height: .8;
}

h3 {
    font-family: changeling-neo, sans-serif;
}



span {
    font-family: "articulat-heavy-cf", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.logo {
    height: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}

nav {
    margin-right: 300px;
    font-size: 30px;
    font-family: changeling-neo, sans-serif;
}

li {
    color: #000000;
    text-decoration: none;
    list-style: none;
    padding: 10px;
    text-align: right;
}



/*//////////////About CSS//////////////*/

.about-logo {
    width: 150px;
    margin-left: 100px;
}

#about-sec {
    margin-left: 100px;
}

.about-one {
    display: flex;
    margin-left: 100px;
    margin-right: 600px;
}

.about-one img {
    padding: 20px;
}

.about-one p {
    margin-left: 40px;
    line-height: 2.35;
    width: 1000px;
}

.about-two {
    display: flex;
    margin-right: 400px;
    margin-left: 100px;
    padding-top: 30px;
}

.about-two p {
    margin-right: 40px;
    line-height: 2.35;
    width: 1000px;
}

/*//////////////About CSS ends//////////////*/

/*//////////////Work CSS//////////////*/

#work-sec p {
    font-size: 15px;
}

.row1 {
    display: flex;
    margin-left: 600px;
}

.global {
    display: inline;
}

.global section {
    padding-left: 30px;
}

.global p{
    width: 200px;
}

.music p {
    width: 200px;
}

.music {
    padding-left: 60px;
    margin-left: 10px;
}

.row2 {
    display: flex;
    margin-left: 600px;
}

.ghost p {
    width: 200px;
}

.dua {
    padding-left: 60px;
    margin-left: 10px;
}

.dua p {
    width: 200px;
}

.row3 {
    display: flex;
    margin-left: 600px;
}

.nam p {
    width: 200px;
}



/*//////////////Work CSS ends//////////////*/

.text {
    font-family: changeling-neo, sans-serif;
    font-size: 25px;
}

/*//////////////Global Pristine CSS//////////////*/

.gp-img p {
    color: #000000;
}

.gp-img p a {
    color: #FFFFFF;
}

.gp-img p a:hover{
    color: #2213e2;
    transition: .5s;
}

#section section {
    margin-bottom: 50px;
}

#section p {
    line-height: 2.35;
    width: 1500px;
}

/*//////////////Global Pristine CSS ends//////////////*/

/*//////////////Music Art CSS//////////////*/

.arrow {
    width: 20px;
    margin-left: 100px;
}

.lg-img img {
    width: 1500px;
}

#section {
    margin-left: 200px;
}

hr.rounded {
  border-top: 4px solid #000000;
  border-radius: 5px;
  width: 1000px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.ma-img img{
    width: 1500px;
}

.text {
    font-size: 35px;
    color: #FFFFFF;
}

/*//////////////Music Art CSS ends//////////////*/


/*//////////////Ghost Shell CSS//////////////*/

.gits-img img {
    width: 1500px;
}

/*//////////////Ghost Shell CSS ends//////////////*/


/*//////////////Dua Lipa CSS//////////////*/

.dl-img img {
    width: 1500px;
}

/*//////////////Dua Lipa CSS ends//////////////*/


/*//////////////Nami CSS//////////////*/

/*//////////////Nami CSS ends//////////////*/

/*//////////////Contact CSS//////////////*/

.contact {
    margin-left: 500px;
    padding-bottom: 100px;
}

.contact a:visited {
text-decoration: none;
color: #FFFFFF;
}

.contact a {
    color: #000000;
}

.contact a:hover {
    color: #2213e2;
    transition: .5s;
}

.contact h2 {
    font-size: 40px;
}

.contact p {
    font-size: 25px;
}

.contact a {
    font-size: 25px;
}

.contacts-mobile {
    visibility: hidden;
}

/*//////////////Contact CSS ends//////////////*/

a:visited {
    text-decoration: none;
    color: #000000;
}

a:link {
    text-decoration: none;
}

nav a:hover {
    transition: .5s;
    color: #2213e2;
}

.menu-icon {
    width: 20px;
    text-align: right;
    visibility: hidden;
}

h2 {
   font-family: changeling-neo, sans-serif; 
}



.creative {
    height: 400px;
    display: block;
    margin-left: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;
}

.home-imgs {
    display: flex;
    display: block;
    margin-left: 20px;
}

.home-imgs img {
    width: auto;
    padding-top: 20px;
    bottom: 0;
    left: 0;
    border-radius: 80px;
}

a img:hover {
    opacity: 0.5;
    transition: .5s;

}

/*Footer*/

footer {
    color: #FFFFFF;
    background-color: #000000;
    list-style: none;
    text-align: center;
    padding-top:10px;
    bottom: 0;
    left: 0;
}

.inner-footer {
    margin: 0;
    padding: 0;
}

.social a{
    margin: 0 20px;
}

/*RESPONSIVE CSS STARTS*/


/*MOBILE*/

@media screen and (max-width:500px){

    html {
        min-width: 100%;
    }

    #wrapper {
        width: auto;
        margin: auto;
    }

    body {
        font-family: "articulat-cf", sans-serif;
        font-weight: 700;
        font-style: normal;
        background-color: #f05c22;
        overflow-x: hidden;
    }

    header {
        padding-top: 30px;
    }

    /*Index*/

    .logotext {
        margin-left: 30px;
        width: 300px;
    }
    
    .logo {
        width: 200px;
        height: auto;
    }

    h1 {
        font-family: changeling-neo, sans-serif;
        font-size: 40px;
        margin-left: 180px;
        margin-top: -50px;
    }

    .phoenix h2 {
        font-size: 20px;
        margin-left: 30px;
        margin-top: 200px;
        line-height: .7;
    }

    span {
        font-family: "articulat-heavy-cf", sans-serif;
        font-weight: 900;
        font-style: italic;
    }

    .creative {
        height: 130px;
        width: 300px;
        margin-left: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 0;
    }

    h3 {
        font-family: changeling-neo, sans-serif;
    }

    .home-imgs {
        display: flex;
        display: block;
        margin-left: 20px;
    }

    .home-imgs img {
        width: 380px;
        padding: 0;
        bottom: 0;
        margin-top: 20px;
        border-radius: 80px;
    }

    footer {
        color: #FFFFFF;
        background-color: #000000;
        list-style: none;
        text-align: center;
        padding-top:10px;
        width: auto;
    }

    .inner-footer {
        margin: auto;
    }

    .social a{
        visibility: hidden;
    }

    /*/////Index Ends/////*/

    /*/////Menu/////*/
    nav {
        position: fixed;
        font-size: 25px;
        font-family: changeling-neo, sans-serif;
        margin-left: 270px;
        background-color: #f05c22;
        border: 2px solid #FFFFFF;
        border-radius: 40px;
    }

    li {
        text-decoration: none;
        list-style: none;
        text-align: right;
        font-size: 20px;
        margin: auto;

    }  
    /*/////Menu End/////*/

    /*//////////////About CSS//////////////*/

    .about-logo {
        width: 80px;
        margin-left: 50px;
    }

    .about-one {
        display: block;
    }

    .about-one img {
        width: 400px;
        height: 400px;
        margin-left: -200px;
    }

    .about-one p {
        margin-left: -180px;
        line-height: 2.35;
        width: 400px;
    }

    .about-two {
        display: block;
    }

    .about-two img {
        width: 400px;
        height: 550px;
        margin-left: -180px;
    }

    .about-two p {
        margin-left: -180px;
        line-height: 2.35;
        width: 400px;
    }

/*//////////////About CSS ends//////////////*/

/*//////////////Work CSS//////////////*/

    #work-sec p {
        font-size: 15px;
    }

    .row1 {
        display: block;
        width: 100px;
        margin-left: 50px;
    }

    .row2 {
        display: block;
        width: 100px;
        margin-left: 50px;
    }

    .row3 {
        display: block;
        width: 100px;
        margin-left: 50px;
    }

    /*//////////////Global Pristine CSS//////////////*/

    .text {
        margin-left: 20px;
    }

    .gp-img img {
        width: 450px;
    }

    .gp-img p {
        color: #000000;
    }

    .gp-img p a {
        color: #FFFFFF;
    }

    .gp-img p a:hover{
        color: #2213e2;
        transition: .5s;
    }

    #section section {
        margin-bottom: 50px;
        margin-left: -200px;
    }

    #section p {
        line-height: 1.35;
        width: 450px;
        margin-left: 20px;
    }

    /*//////////////Global Pristine CSS ends//////////////*/

    /*//////////////Music Art CSS//////////////*/

    .arrow {
        width: 20px;
        margin-left: 20px;
    }

    .lg-img img {
        width: 450px;
    }

    #section {
        margin-left: 200px;
    }

    hr.rounded {
        border-top: 4px solid #000000;
        border-radius: 5px;
        width: 450px;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .ma-img img{
        width: 450px;
    }

    .text {
        font-size: 30px;
        color: #FFFFFF;
    }
    /*//////////////Music Art CSS ends//////////////*/


    /*//////////////Ghost Shell CSS//////////////*/

    .gits-img img {
        width: 450px;
    }

    /*//////////////Ghost Shell CSS ends//////////////*/


    /*//////////////Dua Lipa CSS//////////////*/

    .dl-img img {
        width: 1500px;
    }

    /*//////////////Dua Lipa CSS ends//////////////*/


    /*//////////////Nami CSS//////////////*/

    /*//////////////Nami CSS ends//////////////*/



/*//////////////Work CSS ends//////////////*/

}

/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/


